.ordenar{
	clear: both;
}
#pasatiempos{
	float: left;
	width: 100%;
	min-height: 300px;
	background: white;
	margin: 10px auto;
	border-radius: 10px;
	border: 2px solid black;
}
.slider{
	width: 70%;
	margin: auto;
	overflow: hidden;
}
.slider ul{
	margin-top: 15px;
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 8s infinite;
	animation-direction: alternate;
}
.slider li{
	width: 100%;
	list-style: none;
}
.slider img{
	display: block;
	width: 50%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
}
h4{
	padding: 7px;
	width: 25%;
	height: 20px;
	background: black;
	color: white;
	text-align: center;
	margin-left: 280px;
	border-radius: 10px;
}
@keyframes cambio{
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}